<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/vueresource.js}"></script>
</head>
<body>
<div id="jingyan">
    {{msg}}
</div>
<div id="enchart" style="width: 600px; height:400px"></div>
</body>


<script>

    window.onload = function () {
        var vu = new Vue({
            el: '#jingyan',
            data: {
                msg: 'Hello World',
            },
            methods: {
                get: function () {
                    this.$http.get('/sendMessage').then(function (value) {
                        console.log(value);
                    })
                }
            }
        });
    }

    // var enchart = new Vue({
    //     el: '#jingyan',
    //     data: {
    //         msg: '百度经验',
    //         xAxis: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"],
    //         yAxis: [5, 20, 36, 10, 10, 20]
    //     }
    // });

    // var mychart = echarts.init(document.getElementById("enchart"));
    // var option = {
    //     title: {
    //         text: 'ECharts 入门示例'
    //     },
    //     tooltip: {},
    //     legend: {
    //         data: ['销量']
    //     },
    //     xAxis: {
    //         data: enchart.xAxis
    //     },
    //     yAxis: {},
    //     series: [{
    //         name: '销量',
    //         type: 'bar',
    //         data: enchart.yAxis
    //     }]
    // };
    // mychart.setOption(option);
</script>

</html>